In [36]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [37]:
url1 = 'https://archive.ics.uci.edu/ml/machine-learning-databases/monks-problems/monks-1.test'
url2 = 'https://archive.ics.uci.edu/ml/machine-learning-databases/monks-problems/monks-1.train'

df_train = pd.read_csv(url1, sep=' ', header=None)
df_test = pd.read_csv(url2, sep=' ', header=None)

In [38]:
df_train

      0  1  2  3  4  5  6  7         8
0   NaN  1  1  1  1  1  1  1    data_1
1   NaN  1  1  1  1  1  1  2    data_2
2   NaN  1  1  1  1  1  2  1    data_3
3   NaN  1  1  1  1  1  2  2    data_4
4   NaN  1  1  1  1  1  3  1    data_5
..   .. .. .. .. .. .. .. ..       ...
427 NaN  1  3  3  2  3  2  2  data_428
428 NaN  1  3  3  2  3  3  1  data_429
429 NaN  1  3  3  2  3  3  2  data_430
430 NaN  1  3  3  2  3  4  1  data_431
431 NaN  1  3  3  2  3  4  2  data_432

[432 rows x 9 columns]

In [39]:
df_train.isnull().sum(axis=0)

0    432
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
dtype: int64

In [40]:
df_test.isnull().sum(axis=0)

0    124
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
dtype: int64

In [41]:
df_train = df_train.drop([0, 8], axis=1)
df_test = df_test.drop([0, 8], axis=1)

т.к. признаки категориальные, то использую one hot

In [42]:
pd.get_dummies(df_train, columns=[2,3,4,5,6,7]).head()

,1,2_1,2_2,2_3,3_1,3_2,3_3,4_1,4_2,5_1,5_2,5_3,6_1,6_2,6_3,6_4,7_1,7_2
0,1,1,0,0,1,0,0,1,0,1,0,0,1,0,0,0,1,0
1,1,1,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1
2,1,1,0,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0
3,1,1,0,0,1,0,0,1,0,1,0,0,0,1,0,0,0,1
4,1,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,1,0

In [43]:
pd.get_dummies(df_test, columns=[2,3,4,5,6,7]).head()

,1,2_1,2_2,2_3,3_1,3_2,3_3,4_1,4_2,5_1,5_2,5_3,6_1,6_2,6_3,6_4,7_1,7_2
0,1,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,1,0
1,1,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1
2,1,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0
3,1,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1
4,1,1,0,0,1,0,0,0,1,1,0,0,0,1,0,0,1,0

In [44]:
df_train.dtypes

1    int64
2    int64
3    int64
4    int64
5    int64
6    int64
7    int64
dtype: object

In [45]:
X_train = df_train.drop([1], axis=1)
X_test = df_test.drop([1], axis=1)
Y_train = df_train[1]
Y_test = df_test[1]

сравнение работы трех классификаторов

In [46]:
# дерево решений
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc.fit(X_train,Y_train)
dtc.score(X_test, Y_test)

1.0

In [47]:
# наивный Байесовский
from sklearn.naive_bayes import GaussianNB

nbc = GaussianNB()
nbc.fit(X_train,Y_train)
nbc.score(X_test, Y_test)

0.6612903225806451

In [48]:
# случайный лес
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X_train,Y_train)
rfc.score(X_test, Y_test)

1.0

In [49]:
from sklearn.model_selection import KFold

kfold = KFold(n_splits=10)

In [50]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

kfold = KFold(n_splits=10)

sc_dtc = cross_val_score(dtc, X_test, Y_test, cv=kfold, scoring='accuracy')
sc_nbc = cross_val_score(nbc, X_train, Y_train, cv=kfold, scoring='accuracy')
sc_rfc = cross_val_score(rfc, X_train, Y_train, cv=kfold, scoring='accuracy')

sc_dtc.mean(), sc_nbc.mean(), sc_rfc.mean()

(0.8717948717948719, 0.6140591966173362, 0.6728858350951374)

# классификатор дерево решение показал наибольшую среднюю точность